; Supervisor config file.
;
; For more information on the config file, please see:
; http://supervisord.org/configuration.html
;
; Notes:
;  - Shell expansion ("~" or "$HOME") is not supported.  Environment
;    variables can be expanded using this syntax: "%(ENV_HOME)s".
;  - Comments must have a leading space: "a=b ;comment" not "a=b;comment".

[unix_http_server]
file={{ PROJECT_DIR }}/supervisor.sock   ; (the path to the socket file)

[supervisord]
logfile={{ PROJECT_DIR }}/log/supervisord.log ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
pidfile={{ PROJECT_DIR }}/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
nodaemon=false               ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ PROJECT_DIR }}/supervisor.sock ; use a unix:// URL  for a unix socket

[program:measure-mate]
environment = LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
command = {{ PYTHON }} {{ PROJECT_DIR }}/.venv/bin/gunicorn measure_mate.wsgi --log-file - --log-level debug --bind 0.0.0.0:8080 --workers 5 --worker-class gevent --access-logfile {{ PROJECT_DIR }}/log/access.log --name measure-mate --capture-output
stdout_logfile = {{ PROJECT_DIR }}/log/stdout.log   ; Where to write log messages
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=10
stderr_logfile = {{ PROJECT_DIR }}/log/stderr.log   ; Where to write log messages
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10
