.logo-slogan-text {
  font-family: 'News Cycle';
  text-align: center;
}

.logo-text {
  font-family: 'Autour One';
  text-align: center;
}

.navbar-brand {
  font-family: 'Autour One';
}

.logo {
  min-height: 250px;
  width: 100%;
  background-image: url('/static/assets/img/measure_mate_plain_optim.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.help-block {
  font-style: italic;
  color: #999;
}

.like-pre {
  white-space: pre-wrap;
}

.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}

.list-group-item.rating-colour {
  border-left-width: 15px !important;
}

.target-btn {
  position: absolute;
  right: 25px;
}

.target-help {
  position: absolute;
  right: 5px;
  top: 13px;
}

#attribute-list {
  padding-bottom: 50px;
}

.inline {
  display: inline;
}

.clickable {
  cursor: pointer;
}

.assessment-report {
  margin-left: auto;
  margin-right: auto;
}

.svg-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.panel-heading {
  font-size: medium;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

/* autour-one-regular - latin */
@font-face {
  font-family: 'Autour One';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/autour-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('Autour One'),
    local('AutourOne-Regular'),
    /* IE6-IE8 */
    url('/static/fonts/autour-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('/static/fonts/autour-one-v5-latin-regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('/static/fonts/autour-one-v5-latin-regular.woff') format('woff'),
    /* Safari, Android, iOS */
    url('/static/fonts/autour-one-v5-latin-regular.ttf') format('truetype'),
    /* Legacy iOS */
    url('/static/fonts/autour-one-v5-latin-regular.svg#AutourOne') format('svg');
}

/* news-cycle-regular - latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/news-cycle-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('News Cycle'),
    local('NewsCycle'),
    /* IE6-IE8 */
    url('/static/fonts/news-cycle-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* Super Modern Browsers */
    url('/static/fonts/news-cycle-v13-latin-regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('/static/fonts/news-cycle-v13-latin-regular.woff') format('woff'),
    /* Safari, Android, iOS */
    url('/static/fonts/news-cycle-v13-latin-regular.ttf') format('truetype'),
    /* Legacy iOS */
    url('/static/fonts/news-cycle-v13-latin-regular.svg#NewsCycle') format('svg');
}

