{% extends "base.html" %}

{% block title %}Measure Mate{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container">
<div id="content"></div>
</div>
<script type="text/babel">

  var TemplateTable = React.createClass({
    loadAssessmentFromServer: function() {
      $.ajax({
        url: this.props.url,
        dataType: 'json',
        cache: false,
        success: function(data) {
          this.loadRatingsFromServer(data);
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    loadRatingsFromServer: function(assess_data) {
      $.ajax({
        url: '/api/templates/' + assess_data.template.id + '/',
        dataType: 'json',
        cache: false,
        success: function(data) {
          this.setState({assess_id: assess_data.id, data: data.attributes, name: data.name, desc: data.short_desc});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    handleRatingSubmit: function(rating) {
      var ratings = this.state.data;
      var newRatings = ratings.concat([rating]);
      this.setState({data: newRatings});
      $.ajax({
        url: this.props.url,
        dataType: 'json',
        type: 'POST',
        data: rating,
        success: function(data) {
          this.setState({data: data.attributes, name: data.name, desc: data.desc});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    getInitialState: function() {
      return {
        data: [],
        assess_id: null
      };
    },
    componentDidMount: function() {
      this.loadAssessmentFromServer();
      // setInterval(this.loadAssessmentFromServer, this.props.pollInterval);
    },
    render: function() {
      return (
          <div className="container">
            <div className="page-header">
              <h1>{this.state.name}<small> {this.state.desc}</small></h1>
            </div>
                <AttributeList assess_id={this.state.assess_id} data={this.state.data} />
          </div>
      );
    }
    });

  var AttributeList = React.createClass({
    render: function() {
      var attributeNodes = this.props.data.map(function (attribute) {
        return (
          <RatingList key={attribute.id} attribute_id={attribute.id} assess_id={this.props.assess_id} name={attribute.name} desc={attribute.desc} data={attribute.ratings}/>
        );
      }.bind(this));
      return (
        <div className="AttributeList">
          {attributeNodes}
        </div>
      );
    }
  });

  var RatingList = React.createClass({
    getInitialState: function() {
      return {
        measurement_id: null,
        selected_rating: null
      };
    },

    componentDidMount: function() {
      $.get('/api/measurements/' + '?assessment__id=' + this.props.assess_id  + '&rating__attribute=' + this.props.attribute_id, function(result) {
        var measurement = result[0];
        if (this.isMounted()) {
          if (measurement != null) {
            this.setState({
              measurement_id: measurement.id,
              selected_rating: measurement.rating.id
            })
          } else {
            this.setState({
              measurement_id: null,
              selected_rating: null
            });
          }
        }
      }.bind(this));
    },

    handleClick: function(data, e) {
      var create_new_measure = ((this.state.measurement_id == null) ? true : false);
      console.log('Should a new measurement be created? ' + create_new_measure)
      var postContent = data.postContent;
      var postData = {
        id: this.state.measurement_id,
        assessment: this.props.assess_id,
        rating: data,
        observations: "This is a dummy comment."
      };

      this.setState({ selected_rating: data });

      $.ajax({
        type: ((create_new_measure) ? "POST" : "PUT"),
        contentType: "application/json; charset=utf-8",
        url: ((create_new_measure) ? "/api/measurements/" : ("/api/measurements/" + this.state.measurement_id + '/')),
        data: JSON.stringify(postData),
        dataType: 'json',
        success: this.handleSubmitSuccess,
        error: this.handleSubmitFailure,
      });
    },

    handleSubmitSuccess: function(data) {
      this.setState({
        selected_rating: data.rating,
        measurement_id: data.id
      });
    },

    handleSubmitFailure: function(xhr, ajaxOptions, thrownError) {
        console.error("There was a failure");
    },

    render: function() {
      var ratingNodes = this.props.data.map(function (rating) {
          var desc_class = "list-group-item-text " + rating.desc_class
          var a_class = "list-group-item clickable-row"
          if (this.state.selected_rating == rating.id) {
            a_class += " list-group-item-success"
          }
          return (
            <a onClick={this.handleClick.bind(this, rating.id)} key={rating.id} className={a_class}>
              <h4 className="list-group-item-heading">{rating.name}</h4>
              <span className={desc_class}>{rating.desc}</span>
            </a>
          );
      }.bind(this));
      return (
        <div className="list-group">
          <a className="list-group-item active">
            <h4 className="list-group-item-heading">{this.props.name}</h4>
            <p className="list-group-item-text">{this.props.desc}</p>
          </a>
          {ratingNodes}
        </div>
      );
    }
  });

  React.render(
  <TemplateTable url="/api/assessments/{{id}}/" pollInterval={20000}/>,
  document.getElementById('content')
  );
</script>
{% endblock %}
