{% extends "base.html" %}

{% block title %}Measure Mate{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container-fluid">
<div id="content"></div>
</div>
<script type="text/babel">
  var AssessmentTable = React.createClass({
    loadRatingsFromServer: function() {
      $.ajax({
        url: this.props.url,
        dataType: 'json',
        cache: false,
        success: function(data) {
          this.setState({data: data, loaded: true});
        }.bind(this),
        error: function(xhr, status, err) {
          console.error(this.props.url, status, err.toString());
        }.bind(this)
      });
    },
    getInitialState: function() {
      return {
        data: [],
        loaded: false
      };
    },
    componentDidMount: function() {
      this.loadRatingsFromServer();
      setInterval(this.loadRatingsFromServer, this.props.pollInterval);
    },
    render: function() {
      return (
          <div className="AssessmentTable">
            <div className="container">
              <div className="page-header">
                <h1>{this.state.name}<small> Assessments</small></h1>
              </div>
              <Loader loaded={this.state.loaded}>
                <div className="panel panel-default">
                  <div className="panel-heading">
                    <h3 className="panel-title">{this.state.name}</h3>
                  </div>
                  <div className="panel-body">
                      <AssessmentList data={this.state.data} />
                  </div>
                </div>
              </Loader>
            </div>
          </div>
      );
    }
    });

  var AssessmentList = React.createClass({

    handleClick: function(assess_id, e) {
      console.log(assess_id);
      console.log(e);
      window.document.location = ("/assessment/" + assess_id + "/")
    },

    render: function() {
      return (
        <table className="table table-hover">
        <tbody>
          <tr>
            <th>#</th>
            <th>Created Date</th>
            <th>Template</th>
            <th>Tags</th>
          </tr>
          {this.props.data.map(function(assessment, i) {
            var prettyCreated = new Date(assessment.created).toLocaleDateString("en-AU");
            var boundClick = this.handleClick.bind(this, assessment.id);
            return (
              <tr key={assessment.id} className="clickable-row" onClick={boundClick}>
                <td><a href={"/assessment/" + assessment.id + "/"}>{assessment.id}</a></td>
                <td>{prettyCreated}</td>
                <td>{assessment.template.name}</td>
                <td><TagList tags={assessment.tags}/></td>
              </tr>
            );
          }, this)}
          </tbody>
        </table>
      );
    }
  });

  var TagList = React.createClass({
    render: function() {
      var tagStyle = {
        marginRight: '0.5em'
      };
      var tagNodes = this.props.tags.map(function (tag, i) {
        return (
          <span key={tag.id} className="label label-primary" style={tagStyle}>{tag.name}</span>
        );
      });
      return (
        <div>
        {tagNodes}
        </div>
      );
    }
  });


  ReactDOM.render(
  <AssessmentTable url="/api/assessments/" pollInterval={20000}/>,
  document.getElementById('content')
  );
</script>
{% endblock %}
