{% extends "base.html" %}

{% block title %}Measure Mate{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Measure Mate!</h1>
            <div class="container">
              <div id="content"></div>
            </div>

            <script type="text/babel">

            var TemplateSelect = React.createClass({
              displayName: 'TemplateSelect',

              loadOptions: function loadOptions(input, callback) {
                  setTimeout(function() {
                      $.ajax({
                        url: "/api/templates/",
                        dataType: 'json',
                        cache: true,
                        success: function(output) {
                          var options = output.map(function (item) {
                            return (
                              { value: item.id, label: item.name }
                            );
                          });
                          callback(null, {
                              options: options,
                              complete: false
                          });
                        },
                        error: function(xhr, status, err) {
                          console.error(this.props.url, status, err.toString());
                        }
                      });
                  }, 500);
              },

              render: function render() {
                return (
                  <div>
                    <label>{this.props.label}</label>
                    <div>
                      <Select.Async delimeter=','
                      multi={false}
                      loadOptions={this.loadOptions}
                      {...this.props}
                      allowCreate={false}
                      name='tags'
                      placeholder='Type to filter templates'
                      />
                    </div>
                    <div className='hint'>
                      Each template includes a unique set of attributes to measure.
                    </div>
                  </div>
                )
              }
            });

            var TagSelect = React.createClass({
              displayName: 'TagSelect',

              loadOptions: function loadOptions(input, callback) {
                  setTimeout(function() {
                      $.ajax({
                        url: "/api/tags?search=" + input,
                        dataType: 'json',
                        cache: false,
                        success: function(data) {
                          var options = data.map(function (item) {
                            return (
                              { value: item.id, label: item.name }
                            );
                          });
                          callback(null, {
                              options: options,
                              complete: false
                          });
                        },
                        error: function(xhr, status, err) {
                          console.error(this.props.url, status, err.toString());
                        }
                      });
                  }, 500);
              },

              render: function render() {
                return (
                  <div>
                    <label>{this.props.label}</label>
                    <div>
                      <Select.Async {...this.props} delimeter=','
                      multi={true} loadOptions={this.loadOptions}
                      allowCreate={true}
                      name='tags'
                      placeholder='Type to find existing tags or create new ones'
                      />
                    </div>
                    <div className='hint'>
                      Tags are used to drive reporting. Use them to uniquely identify your area as well as group areas together.
                    </div>
                  </div>
                );
              }
            });

            var AssessmentCreationForm = React.createClass({
              getInitialState: function() {
                return {
                  template: "",
                  tags: ""
                }
              },
              changeHandlerTemplate: function(val) {
                  this.setState({
                      template: val.value
                  })
                  console.log(val.value);
              },
              changeHandlerTags: function(val) {
                  this.setState({
                      tags: val
                  })
                  console.log(val);
              },
              handleSubmit: function(e) {
                e.preventDefault();
                if (this.state.template && this.state.tags) {
                  var template = this.state.template;
                  var tags = this.state.tags.map(function (value) {
                    return (
                      value.value
                    );
                  });
                  this.createAssessment(template, tags);
                } else {
                  var message = "Template &amp; tag/s required."
                  this.showError(message);
                }
              },

              showError: function(message) {
                document.getElementById("form-error").innerHTML = message;
                document.getElementById("form-error").className =
                document.getElementById("form-error").className.replace
                ( /(?:^|\s)hidden(?!\S)/g , '' );
              },

              createAssessment: function(template, tags) {
                  $.ajax({
                    context: this,
                    url: "/api/assessments/",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: '{"template":' + template + ',"tags":[' + tags + ']}',
                    type: "POST",
                    cache: true,
                    success: function(output) {
                      console.log(output);
                      window.location = '/assessment/'+output.id+'/';
                    },
                    error: function(xhr, status, err) {
                      var message = "Launch failed due to unknown reason. Try again later.";
                      this.showError(message);
                    }
                  });
              },

              render: function() {
                return (
                  <form className="form-horizontal">
                    <div className="form-group">
                      <TemplateSelect
                          label="Template"
                          ref="template"
                          {...this.props}
                          value={this.state.template}
                          onChange={this.changeHandlerTemplate}
                      />
                    </div>
                    <div className="form-group">
                      <TagSelect
                          label="Tags"
                          ref="tags"
                          {...this.props}
                          value={this.state.tags}
                          onChange={this.changeHandlerTags}
                          />
                    </div>
                    <div className="form-group">
                      <div className="col-md-1">
                        <input className="btn btn-default" type="submit" value="Launch" onClick={this.handleSubmit} aria-describedby="helpBlock"/>
                      </div>
                      <div className="col-md-11">
                        <div id="form-error" className="text-danger v-cent hidden"/>
                      </div>
                    </div>
                  </form>
                )
              }
            });

            React.render(
              <AssessmentCreationForm />,
              document.getElementById('content')
            );

            </script>
        </div>
    </div>
{% endblock %}
