{% extends "base.html" %}

{% block title %}Measure Mate{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Measure Mate!</h1>
            <div class="container">
              <div id="content"></div>
            </div>

            <script type="text/jsx">

            var TemplateSelect = React.createClass({
              displayName: 'TemplateSelect',

              loadOptions: function loadOptions(input, callback) {
                  setTimeout(function() {
                      $.ajax({
                        url: "/api/templates/",
                        dataType: 'json',
                        cache: true,
                        success: function(output) {
                          var options = output.results.map(function (item) {
                            return (
                              { value: item.id, label: item.name }
                            );
                          });
                          callback(null, {
                              options: options,
                              complete: false
                          });
                        },
                        error: function(xhr, status, err) {
                          console.error(this.props.url, status, err.toString());
                        }
                      });
                  }, 500);
              },

              render: function render() {
                return (
                  <div>
                    <label>{this.props.label}</label>
                    <div>
                      <Select delimeter=','
                      multi={false}
                      asyncOptions={this.loadOptions}
                      {...this.props}
                      allowCreate={false}
                      name='tags'
                      placeholder='Type to filter templates'
                      />
                    </div>
                    <div className='hint'>
                      Each template includes a unique set of attributes to measure.
                    </div>
                  </div>
                )
              }
            });

            var TagSelect = React.createClass({
              displayName: 'TagSelect',

              loadOptions: function loadOptions(input, callback) {
                  setTimeout(function() {
                      $.ajax({
                        url: "/api/tags?search=" + input,
                        dataType: 'json',
                        cache: false,
                        success: function(data) {
                          var options = data.results.map(function (item) {
                            return (
                              { value: item.id, label: item.name }
                            );
                          });
                          callback(null, {
                              options: options,
                              complete: false
                          });
                        },
                        error: function(xhr, status, err) {
                          console.error(this.props.url, status, err.toString());
                        }
                      });
                  }, 500);
              },

              render: function render() {
                return (
                  <div>
                    <label>{this.props.label}</label>
                    <div>
                      <Select {...this.props} delimeter=','
                      multi={true} asyncOptions={this.loadOptions}
                      allowCreate={true}
                      name='tags'
                      placeholder='Type to find existing tags or create new ones'
                      />
                    </div>
                    <div className='hint'>
                      Tags are used to drive reporting. Use them to uniquely identify your area as well as group areas together.
                    </div>
                  </div>
                );
              }
            });

            var AssessmentCreationForm = React.createClass({
              getInitialState: function() {
                return {
                  template: "",
                  tags: ""
                }
              },
              changeHandlerTemplate: function(val,option) {
                  this.setState({
                      template: option
                  })
                  console.log(option);
              },
              changeHandlerTags: function(val,option) {
                  this.setState({
                      tags: option
                  })
                  console.log(option);
              },
              handleSubmit: function() {
                var template = this.state.template.map(function (value) {
                  return (
                    value.label
                  );
                });
                var tags = this.state.tags.map(function (value) {
                  return (
                    value.label
                  );
                });
                //alert("The Template is " + template);
                //alert("The Tags are " + tags);
                window.location = '/assessment?template='+template+'&tags='+tags;
              },
              render: function() {
                return (
                  <div>
                    <TemplateSelect
                        label="Template"
                        ref="template"
                        {...this.props}
                        value={this.state.template}
                        onChange={this.changeHandlerTemplate}
                    />
                    <TagSelect
                        label="Tags"
                        ref="tags"
                        {...this.props}
                        value={this.state.tags}
                        onChange={this.changeHandlerTags}
                        />
                    <input className="btn btn-default" type="submit" value="Launch" onClick={this.handleSubmit}/>
                  </div>
                )
              }
            });

            React.render(
              <AssessmentCreationForm />,
              document.getElementById('content')
            );

            </script>
        </div>
    </div>
{% endblock %}
