.hint {
    margin: 5px 0;
    font-style: italic;
    color: #999;
}

a,tr.clickable-row {
  cursor: pointer;
}

.like-pre {
    white-space: pre-wrap;
}

.v-cent {
  padding-top: 6px;
  padding-left: 6px;
}

button {
  outline: none;
}
