.hint {
    margin: 5px 0;
    font-style: italic;
    color: #999;
}

a,tr.clickable-row {
  cursor: pointer;
}

.like-pre {
    white-space: pre-wrap;
}

.v-cent {
  padding-top: 6px;
  padding-left: 6px;
}

td.wrap
{
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
}

.list-group-item .rating-Regressive {
  border-left-color: Red !important;
  border-left-width: 15px !important;
}

.list-group-item .rating-Emerging {
  border-left-color: Orange !important;
  border-left-width: 15px !important;
}

.list-group-item .rating-Growing {
  border-left-color: Yellow !important;
  border-left-width: 15px !important;
}

.list-group-item .rating-Sustainable {
  border-left-color: Green !important;
  border-left-width: 15px !important;
}

td.rating-Regressive {
  background-color: Red !important;
  font-weight: bold;
  color: white;
}

td.rating-Emerging {
  background-color: Orange !important;
  font-weight: bold;
  color: white;
}

td.rating-Growing {
  background-color: Yellow !important;
  font-weight: bold;
  color: black;
}

td.rating-Sustainable {
  background-color: Green !important;
  font-weight: bold;
  color: white;
}

.target-btn {
   position: absolute;
   right: 25px;
}

.target-help {
   position: absolute;
   right: 5px;
   top: 13px;
}

#att-list {
  padding-bottom: 50px;
}

.inline {
  display: inline
}

.clickable {
  cursor: pointer;
}

@media (max-width: 640px) {
    div .col-xs-3 {
        display: none;
    }
    div .col-xs-9 {
        width: 100%;
    }
    .tab-content {
        padding: 0px !important;
    }
    .container {
        padding: 5px !important;
    }
}
