.hint {
    margin: 5px 0;
    font-style: italic;
    color: #999;
}

a,tr.clickable-row {
  cursor: pointer;
}

.like-pre {
    white-space: pre-wrap;
}

.v-cent {
  padding-top: 6px;
  padding-left: 6px;
}

button {
  outline: none;
}

.rating-Regressive {
  border-left-color: Red !important;
  border-left-width: 15px !important;
}

.rating-Emerging {
  border-left-color: Orange !important;
  border-left-width: 15px !important;
}

.rating-Growing {
  border-left-color: Yellow !important;
  border-left-width: 15px !important;
}

.rating-Sustainable {
  border-left-color: Green !important;
  border-left-width: 15px !important;
}

@media (max-width: 640px) {
    div .col-xs-3 {
        display: none;
    }
    div .col-xs-9 {
        width: 100%;
    }
}
